/* Variables */

:root {
    --primary: #fe6e00;
    --primary-light: #ff9a42;
    --primary-verylight: #ffbc82;
    --white: #ffffff;
}


/* Global styles */

* {
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: #060606;
}


/* Text styles */

.title {
    color: var(--white);
    font-size: clamp(36px, 36px + 1vw, 54px);
    font-weight: 400;
    text-transform: uppercase;
    line-height: (46.8px, 46.8px + 1vw, 64px);
    width: 675px;
    margin: 10px 0;
}

.text {
    color: var(--white);
    font-size: clamp(16px, 16px + 0.1vw, 18px);
    font-weight: 100;
    line-height: 24px;
    width: 750px;
}


/* Main styles */

.container {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.bgUniverse {
    right: 0;
    top: 0;
    opacity: 0.4;
    position: absolute;
    width: 100vw;
    z-index: -2;
}

.planet {
    right: 0;
    top: 80%;
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.logo {
    margin-bottom: 5vh;
}

main {
    height: 648px;
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Form styles */

#mainForm {
    padding-top: 5vh;
}

input[type=text] {
    margin-right: 16px;
}

input[type=text],
input[type=email] {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 270px;
    height: 48px;
    margin-bottom: 2.5vh;
    background-color: #161616;
    color: var(--white);
    border: 2px solid #262626;
    border-radius: 5px;
    /* transition: 0.2s; */
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

input[type=text]:hover,
input[type=email]:hover {
    border: 2px solid #464646;
}

input[type=text]:focus,
input[type=email]:focus {
    border: 2px solid var(--primary) !important;
}


/* Cor de fundo do autocomplete */

input[type=text]:-webkit-autofill,
input[type=email]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #161616 inset;
    -webkit-text-fill-color: var(--white);
}

.smallScreenBreaker {
    display: none;
}

.inputLabel {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

input[type=submit] {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 560px;
    height: 48px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    color: var(--white);
    font-weight: bold;
    font-size: 16px;
    outline: none;
    transition: 0.2s;
    margin-bottom: 2.5vh;
}

input[type=submit]:hover {
    background-color: var(--primary-light);
}

input[type=submit]:focus {
    background-color: var(--primary-verylight);
}

.checkboxContainer {
    position: relative;
    height: 25px;
    padding-left: 30px;
    cursor: pointer;
    user-select: none;
}

.checkboxContainer input {
    display: none;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #161616;
    border: 2px solid #262626;
    border-radius: 5px;
    transition: 0.2s;
    outline: none;
}

.checkmark:hover {
    border: 2px solid #464646;
}

.checkboxContainer input:checked~.checkmark {
    background-color: var(--primary);
    border: 2px solid var(--primary) !important;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkboxContainer input:checked~.checkmark:after {
    display: block;
}

.checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}


/* Responsive styles */

@media (max-width: 990px) {
    .container {
        padding: 0 5vw 0 5vw;
    }
    .smallScreenBreaker {
        display: block;
    }
    .mainImg {
        display: none;
    }
    .title,
    .text {
        width: 90vw;
    }
    form {
        width: auto;
    }
    input[type=text],
    input[type=email] {
        width: 90vw;
        margin: 0 0 10px 0;
    }
    input[type=submit] {
        width: 90vw;
        margin: 0 0 10px 0;
    }
    .planet {
        right: -25%;
        top: 85%;
        position: absolute;
        width: 150vw;
        z-index: -1;
    }
}

@media (max-width: 465px) {
    .verySmallScreenBreaker {
        display: none;
    }
    .bgUniverse {
        right: 0;
        top: 0;
        opacity: 1;
        position: absolute;
        height: 100vh;
        width: auto;
        z-index: -2;
    }
}